body {
  font-family: Arial, Helvetica, sans-serif;
}

form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 600px;
  /* Form outline */
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
}

::placeholder {
  font-size: 12px;
  font-style: italic;
  text-transform: none;
}

input:focus::placeholder {
  color: transparent;
}

input:disabled::placeholder {
  color: transparent;
}

input[type="text"][disabled] {
  background-color: lightgrey;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 16px;
}

input,
textarea {
  font: 14px sans-serif;
  width: 288px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 112px;
  text-align: right;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 80px;
}

textarea:focus::placeholder {
  color: transparent;
}

.form-body {
  margin: 0 0 0 80px;
  position: relative;
  width: 100%;
}

.form-buttons {
  background-color: #24a0ed;
  border: 1px solid whitesmoke;
  border-radius: 50px;
  box-sizing: border-box;
  color: whitesmoke;
  margin-left: 132px;
  padding: 8px;
  width: 300px;
}

.form-contents {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.form-header {
  text-align: center;
  width: 100%;
}

.highlight {
  color: #ff9919;
}

.page-form {
  align-items: center;
  background-color: #fff;
  margin: 0 auto;
}

.text-input {
  border-radius: 50px;
  margin-left: 16px;
  padding: 8px;
  width: 300px;
}

ul .text-valid {
  color: transparent;
  font-size: 11px;
  margin-left: 135px;
  padding: 8px 0 8px 8px;
}

#notes {
  border-radius: 10px;
  box-sizing: border-box;
  resize: vertical;
}

#serial-number {
  text-transform: uppercase;
}

#submit-valid {
  color: transparent;
}
